{% extends "base.html" %}
{% block title %}
<title>How to use</title>
{% endblock %}

{% block base %}
<main class="min-h-screen bg-gray-900 text-white">
    <div class="px-10 py-5">
        <nav class="mb-3 rounded-xl border-gray-200 bg-white dark:bg-gray-900">
          <div
            class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
          >
            <a href="{{url_for('home_page')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img
                src="{{url_for('static', filename='img/flask.png')}}"
                class="h-8"
                alt="Flask Logo"
              />
              <span
                class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
                >Vapor - Liquid Equilibrium</span
              >
            </a>
    
            <div class="hidden w-full md:block md:w-auto">
              <ul
                class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:dark:bg-gray-900"
              >
                <li>
                  <a
                    href="{{url_for('home_page')}}"
                    class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                  >
                    x - y
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                  >
                    T - x
                  </a>
                </li>
                <li>
                  <a
                    href="{{url_for('about')}}"
                    class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                  >
                    About
                  </a>
                </li>
                <li>
                    <a href="{{url_for('how_to_use')}}" class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-blue-500">How to use</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <div class="px-12">
        <h1 class="text-3xl font-bold my-5">This is How to use section</h1>
        <p class="font-medium text-lg my-5">Follow these step:</p>
        <ol class="list-decimal">
            <li>Create a google sheet and let General access "Anyone with the link" with "Editor" role</li>
            <img src="{{url_for('static', filename='img/general_access.png')}}" alt="general access">
            <li>Edit sheet with this field name respectively: x, y and t (where x is liquid fraction, y is vapor fraction and t is temperature at Celcius)</li>
            <img src="{{url_for('static', filename='img/composition.png')}}" alt="composition">
            <li>All sheet name will be showed up on composition list on the app e.g: ethanol-water, methylic-benzene, ... Make sure you sheet name is composition name</li>
            <img src="{{url_for('static', filename='img/composition_list.png')}}" alt="composition_list">
            <li>After add url to your google sheet, hit "Upload" button</li>
        </ol>
    </div>

    <hr class="my-1 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
    <footer class="bg-gray-900 rounded-lg shadow dark:bg-gray-900 overflow-hidden">
      <div class="w-full mx-auto max-w-screen-xl px-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://vle-wzxu.onrender.com/" class="hover:underline">VLE Diagram</a>. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center my-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="https://github.com/tuanlearntocode/VLE" target="_blank" "hover:underline me-4 md:me-6">
              <svg class="w-6 h-6 text-gray-800 dark:text-white inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
              </svg>
              </a>  
          </li>
      </ul>
      </div>
    </footer>
    
</main>
{% endblock %}

