<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tutorial</title>
</head>
<body>
    <main class="min-h-screen bg-gray-900 text-white p-10">
        <h1 class="text-3xl font-bold my-5">This is How to use section</h1>
        <p class="font-medium text-lg my-5">Follow these step:</p>
        <ol class="list-decimal">
            <li>Create a google sheet and let General access "Anyone with the link" with "Editor" role</li>
            <img src="../static/img/general_access.png" alt="general access">
            <li>Edit sheet with this field name respectively: x, y and t (where x is liquid fraction, y is vapor fraction and t is temperature at Celcius)</li>
            <img src="../static/img/composition.png" alt="composition">
            <li>All sheet name will be showed up on composition list on the app e.g: ethanol-water, methylic-benzene, ... Make sure you sheet name is composition name</li>
            <img src="../static/img/composition_list.png" alt="composition_list">
            <li>After add url to your google sheet, hit "Upload" button</li>
        </ol>
    </main>
</body>
</html>